h1{
    border: 5px double orange;
    text-align: center;
    color: orange;

}
strong{
    font-size: 80px;
    color: brown;
}
h2{
    background-color: orangered;
    text-align: right;
    color: #ffffff;
}
b{
    color: red;
}
u{
    color: black;
}

div{
    text-align: right;
}
section{
    max-width: 587px;
}